@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="mb-5">
                <h1 class="mb-5">FizzBuzz - A coding challenge</h1>
                <h5>The Fizzbuzz coding challenge was invented in 2007 by Imran Ghoryin in order to assess developer competence.</h5>
                <h5>Since its conception the Fizzbuzz challenge has been used by Facebook and Microsoft as interview tools and has also been taught at Stanford, Berkley, Caltech and countless other universities.</h5>
            </div>
            <ul class="mb-3 fa-ul checklist">
                <li><i class="fas fa-check-square"></i> C# & OOP</li>
                <li><i class="fas fa-check-square"></i> .NET Core MVC</li>
                <li><i class="fas fa-check-square"></i> JavaScript</li>
                <li><i class="fas fa-check-square"></i> Bootstrap</li>
                <li><i class="fas fa-check-square"></i> HTML & CSS</li>
            </ul>
            <div class="mx-4 mb-5">
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="FizzBuzzPage">Try it out</a>
            </div>
        </div>
        <div class="col-6">
            <img class="img-fluid d-block" src="~/img/FIZZBUZZ-Logo.png" alt="FizzBuzz logo" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <h5 class="mb-3">Technologies used</h5>
                <i class="fab fa-microsoft fa-5x me-3" id="msicon"></i>
                <i class="fab fa-js-square fa-5x me-3" id="jsicon"></i>
                <i class="fab fa-bootstrap fa-5x me-3" id="bsicon"></i>
                <i class="fab fa-html5 fa-5x me-3" id="html5icon"></i>
                <i class="fab fa-css3-alt fa-5x me-3" id="css3icon"></i>
            </div>
        </div>
    </div>
</div>
