@{
    ViewData["Title"] = "Home Page";
}
<div class="container pt-0">
    <div class="row justify-content-center">
        <div class="col">
            <img class="mx-auto rounded img-fluid d-block" src="~/img/FIZZBUZZ-Logo.png" alt="FizzBuzz logo" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div class="mb-5">
                <h1 class="mb-5 text-warning">FizzBuzz Coding Challenge</h1>
                <h5>The Fizzbuzz coding challenge was invented in 2007 by Imran Ghoryin in order to assess developer competence.</h5>
                <h5>Since its conception the Fizzbuzz challenge has been used by Facebook and Microsoft as interview tools and has also been taught at Stanford, Berkley, Caltech and countless other universities.</h5>
            </div>
            <div class="mb-5">
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="FizzBuzzPage">Try it out</a>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-8 col-md-6">
            <div class="mb-2">
                <h4 class="mb-3">Instructions:</h4>
                <p>The program allows the user to enter a Fizz number and a Buzz number</p>
                <p>The program will evaluate numbers 1 through 100 and for each number it will:</p>
                <ul class="list-unstyled">
                    <li>Print FIZZBUZZ if the number is divisible by both the Fizz number and the Buzz number</li>
                    <li>Print FIZZ if the number is only divisible by the Fizz number</li>
                    <li>Print BUZZ if the number is only divisible by the Buzz number </li>
                    <li>Print the number is it is divisible by neither the Fizz or Buzz numbers</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div>
                <h4 class="mb-3">Technologies used</h4>
                <i class="fab fa-microsoft fa-3x me-3" id="msicon"></i>
                <i class="fab fa-js-square fa-3x me-3" id="jsicon"></i>
                <i class="fab fa-bootstrap fa-3x me-3" id="bsicon"></i>
                <i class="fab fa-html5 fa-3x me-3" id="html5icon"></i>
                <i class="fab fa-css3-alt fa-3x me-3" id="css3icon"></i>
            </div>
        </div>
    </div>
</div>
